* {
    margin: 0%;
    padding: 0%;
    position: relative;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: #002966;
    border-radius: 15%;
    text-align: center;
    font-size: 130px;
    margin: 50px auto;
    color: cyan;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900px;
}

.logo {
    border-radius: 20px ;
    color: cyan;
    font-size: 140px;
    text-align: center;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}


.fil {
    width: 150px;
    height: 200px;
    margin: 10px;
    float: left;
}

.filtres, .fusions {
    width: 850px;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px 0 0 0;
    background: #ddd;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.imatge {
    width: 130px;
    height: 150px;
    background-image: url(../);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.superposada {
    width: 130px;
    height: 150px;
    background-image:url(../img/fresas.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}


/* -------filtres -------*/

.desenfoc .imatge {
    filter: blur(5px);
}
.to-saturacio .imatge {
    filter: hue-rotate(90deg);
}
.invertir .imatge{
    filter: invert(75%);
}

.opacitat .imatge {
    filter: opacity(60%);
}

.saturacio .imatge {
    filter: saturate(80%);
}

.sepia .imatge {
    filter: sepia(100%);
}

/* -----fusions -----*/

.multiplicar .superposada {
    mix-blend-mode: multiply;

}

/*--- Tirador ---*/

.input {
    width: 130px;
    margin: auto;
}

input[type=range] {
    -webkit-apperance:none;
    background:transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-apperance:none;
    border: 0px solid black;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(red, black);
    box-shadow: 1px 1px 1px grey;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: grey;
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px black;
}

input [type=checkbox] {
    -webkit-apperance: none;
}

input [type=checkbox] {
    width: 20px;
    height: 12px;
    border: 1px solid black;
    margin: 0 auto;
    background: cyan;
    border-radius: 6px;
}

input [type=checkbox]::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: linear-gradient(red, black); 
    border-radius: 50%;
}

input [type=checkbox]:checked:before {
    position: relative;
    left: 8px;
}
