html {
    height: 100%;
}


body {
        text-align: center;
    background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(255,202,8,1) 5%, rgba(143,68,38,1) 5%, rgba(143,68,38,1) 10%, rgba(255,202,8,1) 10%, rgba(255,202,8,1) 15%, rgba(143,68,38,1) 15%, rgba(143,68,38,1) 20%, rgba(255,202,8,1) 20%, rgba(255,202,8,1) 25%, rgba(143,68,38,1) 25%, rgba(143,68,38,1) 30%, rgba(255,202,8,1) 30%, rgba(255,202,8,1) 35%, rgba(143,68,38,1) 35%, rgba(143,68,38,1) 40%, rgba(0,0,0,0) 40%), radial-gradient(circle at 100% 50%, rgba(255,202,8,1) 5%, rgba(143,68,38,1) 5%, rgba(143,68,38,1) 10%, rgba(255,202,8,1) 10%, rgba(255,202,8,1) 15%, rgba(143,68,38,1) 15%, rgba(143,68,38,1) 20%, rgba(255,202,8,1) 20%, rgba(255,202,8,1) 25%, rgba(143,68,38,1) 25%, rgba(143,68,38,1) 30%, rgba(255,202,8,1) 30%, rgba(255,202,8,1) 35%, rgba(143,68,38,1) 35%, rgba(143,68,38,1) 40%, rgba(0,0,0,0) 40%), radial-gradient(circle at 50% 0%, rgba(255,202,8,1) 5%, rgba(143,68,38,1) 5%, rgba(143,68,38,1) 10%, rgba(255,202,8,1) 10%, rgba(255,202,8,1) 15%, rgba(143,68,38,1) 15%, rgba(143,68,38,1) 20%, rgba(255,202,8,1) 20%, rgba(255,202,8,1) 25%, rgba(143,68,38,1) 25%, rgba(143,68,38,1) 30%, rgba(255,202,8,1) 30%, rgba(255,202,8,1) 35%, rgba(143,68,38,1) 35%, rgba(143,68,38,1) 40%, rgba(0,0,0,0) 40%), radial-gradient(circle at 0px 50%, rgba(255,202,8,1) 5%, rgba(143,68,38,1) 5%, rgba(143,68,38,1) 10%, rgba(255,202,8,1) 10%, rgba(255,202,8,1) 15%, rgba(143,68,38,1) 15%, rgba(143,68,38,1) 20%, rgba(255,202,8,1) 20%, rgba(255,202,8,1) 25%, rgba(143,68,38,1) 25%, rgba(143,68,38,1) 30%, rgba(255,202,8,1) 30%, rgba(255,202,8,1) 35%, rgba(143,68,38,1) 35%, rgba(143,68,38,1) 40%, rgba(0,0,0,0) 40%);
    background-size: 80px 80px, 80px 80px, 80px 80px, 80px 80px;
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    background-repeat: repeat, repeat, repeat, repeat;
    background-color: rgba(255,202,8,1);
}

img {
    width:10%;
}