
        .taulell {
            width: 800px;
            height: 800px;
            padding: 5px;
            background-color: maroon;
            margin: 0 auto;
            box-shadow: 10px 10px 50px grey;
        }
        .contenidor {
            height: 100px;
            width: 800px;
            background-color: ivory;
            padding: 0px;
            margin: 0 auto;
        }

        .casella {
            width: 100px;
            height: 100px;
            background: ivory;
            background-image: linear-gradient(45deg, ivory, yellow);
            float: left;
        }
        
        .contenidor:nth-child(2n-1) .casella:nth-child(2n) {
            background-color: black;
            background-image: linear-gradient(45deg, grey, black);
        }
        
        .contenidor:nth-child(2n) .casella:nth-child(2n-1) {
            background-color: black;
            background-image: linear-gradient(45deg, grey, black);
        }

        .fitxa {
            width: 80px;
            height: 80px;
            background-color: grey;
            border-radius: 40px;
            margin: 10px;
            box-shadow: inset 4px 4px 25px black, 
                        1px 1px 1px grey;

        }

        .fitxa:hover {

        }


        .contenidor:nth-child(1) .fitxa, .contenidor:nth-child(2) .fitxa{
            background-color: yellow;
        }

        .contenidor:nth-child(7) .fitxa, .contenidor:nth-child(8) .fitxa {
            background-color: maroon;
        }
        .contenidor:nth-child(1) .fitxa:hover {
            position: relative;
            top: 200px;
        }

        .contenidor:nth-child(2) .fitxa:hover {
            position: relative;
            top: 100px;
        }

        .contenidor:nth-child(7) .fitxa:hover, .contenidor:nth-child(8) .fitxa:hover {
            position: relative;
            top: -100px;
        }